@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

h5 {
  color:red;
}

body {
  min-height: -webkit-calc(100% - 100px);
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  background-color: #d0d5d8;
  text-align: center;
  padding-top: auto;
  padding-top: 35px;
}

.container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 150px;
}

.jumbotron {
  text-align: center;
  font-family: 'Poiret One', cursive;
  background-color: #81bbdb;
}

#results {
  display: none;
}
